<div class="tl-objective-card clickable" @onclick="() => OnCardClicked.InvokeAsync(Objective)">
    <h3>@Objective.Title</h3>
    <p>@Objective.Details</p>
</div>


@code {

    [Parameter]
    public ObjectiveDTO Objective { get; set; }

    [Parameter]
    public EventCallback<ObjectiveDTO> OnCardClicked { get; set; }

}
