<div class="tl-task-item row">
    <div class="col-8">
        <h5>@Task.Title</h5>
        <p>@Task.Details</p>
    </div>
    <div class="col-4 row">
        <div class="col-7">
            <button class="btn btn-success" style="width: auto; height: auto">
                <svg fill="currentColor" style="width: 1em; height: 1em;">
                    <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>
        <div class="col-5">
            <button class="btn btn-danger" style="width: auto; height: auto">
                <svg fill="currentColor" style="width: 1em; height: 1em;">
                    <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd" />
                </svg>
            </button>
            <div style="height: 5px;"></div>
            <button class="btn btn-primary" style="width: auto; height: auto;">
                <svg fill="currentColor" style="width: 1em; height: 1em;">
                    <path fill-rule="evenodd" d="M15.5 3.5a.5.5 0 01.5.5v8a.5.5 0 01-1 0V4a.5.5 0 01.5-.5z" clip-rule="evenodd" />
                    <path d="M7.596 8.697l-6.363 3.692C.693 12.702 0 12.322 0 11.692V4.308c0-.63.693-1.01 1.233-.696l6.363 3.692a.802.802 0 010 1.393z" />
                    <path d="M15.096 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.693-1.01 1.233-.696l6.363 3.692a.802.802 0 010 1.393z" />
                </svg>
            </button>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public TaskDTO Task { get; set; }

    [Parameter]
    public EventCallback OnTaskValidation { get; set; }

    [Parameter]
    public EventCallback OnTaskCancellation { get; set; }

    private void ThirdButtonClick()
    {
        var r = Task.StatusType switch
        {
            StatusTypes.Todo => 2,
            _ => 0
        };

        switch (Task.StatusType)
        {

        }

        if (Task.StatusType == StatusTypes.Todo)
        {
            //TODO: Open modal with date to postpone task 
        }
    }

}
